.main-contentBox {
    text-align: left;
}
.center-Box {
    width: 300px;
    margin: auto;
    padding: 5px;
    font-size: 16px;
}

.margin-Left {
    margin-left: 68px;
}

.margin-Left1 {
    margin-left: 110px;
}

.Note-Part {
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
}

.bold-Heading2 {
    font-family: "Merriweather", serif;
}

.bold-Heading {
    font-family: "Barlow", sans-serif;
}

.bold-Heading3 {
    font-weight: bolder;
}
@media (max-width: 720px) {
    .margin-Left {
        margin-left: 20px;
    }
}
