.currenthostels {
    margin: auto;
    margin-bottom: 6px;
    width: 60%;
    min-width: 500px;
    padding: 12px;
    // background-image: linear-gradient(#07b0ff, #58caff, #008be7);
    background-color: #00000009;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: hidden;
    box-shadow: 2px 0px 20px #00000023 inset;
    //border-radius: 10px;
}
.divcurrenthostels {
    margin: auto;
    padding: 30px 0px;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
}
.hostelnamesflex {
    color: #000000;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}
.fixedbuttons {
    width: 280px;
    margin: auto;
    margin-right: 0px;
}
.removebutton {
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    border: none;
    font-size: 14px;
    background-color: #0083cf;
    //background-color:red;
    padding: 5px 10px 5px 10px;
}
.removebutton:active {
    background-color: #2696ff;
}
.removebutton:disabled {
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-right: 10px;

    border: none;

    font-size: 14px;
    background-color: #adadad;
    //background-color:red;
    padding: 5px 10px 5px 10px;
    cursor: not-allowed;
}
.serials {
    padding-right: 10px;
    border-right: 3px solid #929292;
}
@media (max-width: 720px) {
    .currenthostels {
        width: 90%;
        min-width: 300px;
    }
    .removebutton {
        margin-right: 15px;
    }
    .fixedbuttons {
        margin: auto;
        margin-right: -10px;
    }
}
