.description-otp {
    font-weight: bold;
    font-size: 14px;
}

.headingxz {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.setMiddle {
    background-color: #fbf9f9;
    box-shadow: 0px 0px 200px #b4b4b4 inset;
    padding: 40px 0px 300px 0px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 350px;
    width: 400px;
    padding: 25px;
    background-color: rgb(235, 235, 235);
    padding-top: 0px;

    box-shadow: 0px 0px 10px 10px rgba(39, 39, 39, 0.2);
}
.lock {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.input-email {
    width: 100%;
    box-sizing: border-box;
    height: 40px;

    // margin: 25px 5px 5px 14px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px #c2c2c2 inset;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

.forgot-button {
    font-size: medium;
    margin-left: 16px;
    cursor: pointer;
    color: rgb(248, 248, 248);
    border-radius: 3px;
    border: none;
    background-color: rgb(0, 179, 45);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.4s;
}
.OTP-send {
    font-size: medium;
    cursor: pointer;
    color: rgb(248, 248, 248);
    border-radius: 3px;
    border: none;
    background-color: rgb(0, 179, 45);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.4s;
}
.OTP-send:hover:enabled {
    background-color: rgb(40, 136, 23);
}
.OTP-send:disabled {
    cursor: not-allowed;
    opacity: 70%;
}
.forgot-button:hover:enabled {
    background-color: rgb(40, 136, 23);
}
.forgot-button:disabled {
    cursor: not-allowed;
    opacity: 70%;
}
.Button-container {
    margin-top: 20px;
}
.success {
    color: rgb(9, 153, 9);
    font-weight: bold;
}
.slit-space-bw-button {
    margin-left: 10px;
}

.for-margin {
    margin-top: 20px;
}

.right-float {
    float: right;
    margin-top: 20px;
}
.margin-float {
    margin-left: 10px;
}
.margin-top {
    margin-top: 20px;
}
.error-box {
    margin: 0px;
    border: 1px solid darkred;
    background-color: red;
}
.error-content {
    margin: 0px;
    padding: 3px;
    margin-left: 15px;
    background-color: white;
    color: red;
}

.error-sign {
    float: left;
    margin-left: 4px;
    margin-top: 3px;
    color: white;
}

.page4-succesful {
    margin: auto;
    margin-bottom: 150px;
    min-height: 100px;
    width: 60%;
    padding: 20px;
    background-color: white;
    border: 3px solid rgb(117, 117, 117);
}
@media (max-width: 720px) {
    .box {
        height: 450px;
        width: 300px;
        padding: 15px;

        box-shadow: 0 0px 10px 10px rgba(54, 54, 54, 0.2);
    }

    .setMiddle {
        box-shadow: 0px 0px 50px #4b4b4b inset;
        display: flex;
        justify-content: space-evenly;

        padding: 30px 0px 300px 0px;
    }
}
