.help0 {
  min-height: 600px;
}
.help01 {
  margin-top: 2px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #011236;
  border-radius: 0px 0px 80px 80px;
  padding: 10px;
}
.help1 {
  color: #ffffff;
  background-color: #00000000;
  border: none;
  border-bottom: 2px solid #ffffff;
}
.help2 {
  color: #ffffff;
  background-color: #00000000;
  border: none;
}
.help-content {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px 20px 20px 40px;
  background-color: #00000011;
}
.aboutusinfo {
  margin: auto;
  font-size: 16px;
}
.contacts {
  margin: 40px;
  margin-top: 80px;
  padding: 20px;
  background-color: #00000023;
}
