.nbg {
    background-color: #959a8a;
}
.abc {
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.FoF {
    font-size: 100px;
}
.goHomeButton {
    display: inline-block;
    padding: 8px;
    background-color: #ffffff;
    color: blue;
    font-weight: bold;
    border-radius: 3px;
}
